﻿html{
    background: url(../extras/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    overflow:auto;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: red;
    font-style: italic;
    overflow:auto;
    padding: 0%;
    margin: 0%;
}
.menuBtn {
    position:fixed;
    color: black;
    top:0;
    left:0;
    z-index: 9999;
    display:inline-block;
}
.navBar{
    top:0;
    right:0;
}

.container {
    position: relative;
    top: 5px;
    left: 0px;
    overflow:auto;
    text-align: center;
}

/*header style and coloring*/
.container .Header {
    padding: 0.1em 0.1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../extras/graduation-caps.jpg");
    z-index: 99999;
    color: #f3231c;
}
/*footer style and colouring*/
.container .Footer {
    bottom: 0;
    left: 0;
    /* top:125rem; */
    width: 100%;
    color: black;
    background-color: cyan;
    z-index: 999999;
    padding: 0.1em 0.5em;
    position: fixed;
}

/*section between the header and footer*/
.container .register {
    padding: 7em 3em;
    position: relative;
    width: 90%;
    color: black;
}
.logIn {
    position: fixed;
    color: black;
    top: 15em;
    width: 50%;
    padding: 0em 26em;
    z-index: 999;
}

input{
    display: inline-block;
    background-color: rgba(0,0,0,0);
    border-top:none;
    border-right:none;
    border-left:none;
    margin:1rem 2rem;
    padding:0.5rem;
}
.button {
    background-color: rgba(0,0,0,0);
    border:none;
    color: white;
    padding: 5px 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: solid 20px;
    cursor: pointer;
}


.container .register h3, .container .logIn h3 {
    font-family: 'Bookshelf Symbol 7';
    text-decoration: underline;
    font-size: x-large;
}

/* Nevigation Buttons Style */
.codrops-demos > a {
    display: inline-block;
    color: #0c4e07;
    text-decoration: none;
    margin: 0.5rem;
    padding: 0.5em 2em;
    border: 2px solid green;
    border-radius: 2px 60px;
    font-weight: 700;
    background: #41ab6b;
}
.button:hover{
    color: red;
    border: 3px solid red;
    border-radius: 6px;
    background: white;
    transition: background 0.9s, color 1s;
    
}
.codrops-demos > a:hover  {
    color: red;
    background: #eea303;
    /* border: 2px solid red; */
    /* border-radius: 60px 2px; */
    /* -webkit-transition: background 0.9s, color 0.9s; */
    /* -o-transition: background 0.9s, color 0.9s; */
    /* -moz-transition: background 0.9s, color 0.9s; */
    /* transition: background 0.9s, color 0.9s; */
}

/* style and transition effect for the icon in the Index page.*/
svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
}

.svg-icon {
    cursor: pointer;
}
.svg-icon path {
    stroke: rgba(255, 255, 255, 0.9);
    fill: none;
    stroke-width: 1;
}

.login__icon.name path {
    stroke-dasharray: 73.50196075439453;
    stroke-dashoffset: 73.50196075439453;
    -webkit-animation: animatePath 5s 0.5s forwards;
    animation: animatePath 5s 0.5s forwards;
}
.login__icon.pass path {
    stroke-dasharray: 92.10662841796875;
    stroke-dashoffset: 92.10662841796875;
    -webkit-animation: animatePath 5s 0.5s forwards;
    animation: animatePath 5s 0.5s forwards;
}
@-webkit-keyframes animatePath {
    to {
	stroke-dashoffset: 0;
    }
}
@keyframes animatePath {
    to {
	stroke-dashoffset: 0;
    }
}


/* effect for side panal in */
.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -60px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    overflow:auto;
    position: fixed;
    background-color: grey;
    opacity: 0.5;
    width: 20%;
    height:100%;
    /*top:-40px;*/
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content:hover {
	background-color: grey;
	opacity: 2;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
}

@keyframes animatetop {
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.img {
    float: top;
    /* position:fixed; */
    /* z-index:1; */
    margin:1rem 3rem;
    width:10rem;
    height:10rem;
    border:2px solid green;
    border-radius:50%;
}	       

/* Added by Harshal */
/* for navigation bar button */
.navButton {
	width: 100%;
	height: 20%;
	background-color: grey;
	padding-top: 5px;
	padding-bottom: 5px;
}

pri {
	color: white;
	float: right;
	margin-right: 20px;
	font-size: 16px;
	font-family: serif;
}

pri:hover {
	font-family: serif;
	font-size: 24px;
	color: lime;
}

.lines {
    border-bottom: 17px double black; 
    border-top: 6px solid black; 
    content:"";
    height: 5px; 
    width:30px;
}